<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>

    <h1>Add Student</h1>

    <form method="POST" action="/save_student">

        Name:<br>
        <input type="text" name="name"><br><br>

        USN:<br>
        <input type="text" name="usn"><br><br>

        Branch:<br>
        <input type="text" name="branch"><br><br>

        CGPA:<br>
        <input type="text" name="cgpa"><br><br>

        <button type="submit">Add Student</button>

    </form>

</body>
</html>