<!DOCTYPE html>
<html>
<head>
    <title>Student Placement Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Student Placement Management System</h1>

    <h2>Welcome Akshaya!</h2>

    <hr>

    <a href="/add_student">
        <button>Add Student</button>
    </a>

    <br><br>

    <a href="/view_students">
        <button>View Students</button>
    </a>

    <br><br>

    <a href="/search_student">
        <button>Search Student</button>
    </a>

    <br><br>

    <a href="/delete_student">
        <button>Delete Student</button>
    </a>

    <br><br>

    <a href="/add_company">
        <button>Add Company</button>
    </a>

    <br><br>

    <a href="/view_companies">
        <button>View Companies</button>
    </a>

    <br><br>

    <a href="/eligibility">
        <button>Eligibility Checker</button>
    </a>

</body>
</html>